---
title: Marcus G. Miller
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image:height" content="306">
    <meta property="og:image:width" content="584">
    <meta property="og:description" content="I believe you can dance.">
    <meta property="og:title" content="Marcus G. Miller">
    <meta property="og:url" content="https://marcusgmiller.com">
    <meta property="og:image" content="https://marcusgmiller.com/og-image.jpg">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/style.css'>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="favicon-32x32.png">
</head>

<body>
    <header>
        <a href="/">
            <h1>Marcus G. Miller <span>| Choreographer</span></h1>
        </a>
        <button id="hamburger" class="btn_burger"></button>
        <nav class="hidden">
            <button id="close" class="btn_burger"></button>

            <ul>
                <li><a href="#workshops">Workshops</a></li>
                <li><a href="#about">About <span>Me</span></a></li>
                <li><a href="#news">News</a></li>
            </ul>
        </nav>
        <div class="heading">
            <h2>I believe you can dance.</h2>
            <a href="#" class="button">Book Workshop</a>
        </div>
    </header>
{{ content }}
    <footer>
        <div>
            <h4>Thank you for your interest in Art!</h4>
            <p>© 2004 – {% year %} Marcus G. Miller</p>
        </div>
        <a href="#">Imprint & Privacy</a>
    </footer>
    <script src='./main.js'></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            // MainNav.init();
        });
    </script>
</body>

</html>